<div id="<%= dom_id person %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= person.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= person.email %>
  </p>

</div>
