<div id="<%= dom_id plant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= plant.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Person:</strong>
    <%= link_to plant.person %>
  </p>

</div>
